<main>
    <h1>All Warehouses</h1>

    <h3 *ngIf="!localWarehouses.length" style="color: red;">No Warehouse in the database!</h3>

    <!-- <ng-container *ngFor="let album of localWarehouses"> 

        <app-warehouse [warehouse]="warehouse" >
        </app-warehouse>

    </ng-container> -->

</main> 

<!--    <table *ngIf="localWarehouses.length">

        <thead>
            <tr>
                <th>Warehouse ID</th>
                <th>Location</th>
                <th>Manager</th>
                <th>Capacity</th>
         </tr>
        </thead>

        <tbody>
          
            <ng-container *ngFor="let warehouse of localWarehouses; let i = index;">
               
                <tr [ngClass]="{
                    'oddRow': i % 2 === 1,
                    'evenRow': i % 2 === 0
                }"
                 (click)="chooseWarehouse(warehouse)">
                    <td>{{ warehouse.warehouseId }}</td>
                    <td>{{ warehouse.location }}</td>
                    <td>{{ warehouse.manager }}</td>
                    <td>{{ warehouse.max_capacity }}</td>
                </tr>

            </ng-container>

        </tbody>

    </table>-->