




<!-- <article>

    <img [src]="artifact.imageUrl" [alt]="artifact.name + ': ' + artifact.warehouseId"> 

    <h2>{{ artifact.name }}</h2>
    <p>{{ artifact.warehouseId }}</p>
    
    <ul>
       <li>Time Frame: {{ artifact.time_frame }}</li>
        <li>Origin: {{ artifact.origin }}</li>
        
    </ul>


    <button (click)="updateArtifact()">UPDATE</button>
    <button (click)="deleteArtifact()">DELETE</button>
    <button (click)="getArtifactDetails()">GET ARTIFACT DETAILS</button>

</article> -->
