<main>
    
    <h1>View All Artifacts</h1>


    <form [formGroup] = "addForm">

        <h2>Add a New Artifact</h2>
        <h2>Update Artifact</h2>

       <h2 *ngIf="!chosenArtifactId">Add a New Artifact</h2>
        <h2 *ngIf="chosenArtifactId">Update Artifact</h2>

        <label for="name">Artifact</label>
        <input type="text" id="name" name="name" formControlName="name"> 
      
        <p *ngIf="name!.invalid && (name!.touched || name!.dirty)">
         
            <span *ngIf="name!.errors?.['required']">Artifact name is required!</span>
            <span *ngIf="name!.errors?.['maxLength']">Artifact name must be 60 characters or less!</span>

        </p>

        <label for="warehouse">Warehouse</label>
        <select name="warehouse" id="warehouse" name="warehouse" formControlName="warehouse">

                <option value="">Select a warehouse...</option>

            <ng-container *ngFor="let warehouse of localWarehouses">
                <option [value]="warehouse.warehouse_id">{{ warehouse.warehouse_id }}</option>
            </ng-container>

        </select>

        <label for="shelf">Current Location</label>
        <input type="text" id="shelf" name="shelf" formControlName="shelf">

        <label for="origin">Genre</label>
        <input type="text" id="origin" name="origin" formControlName="origin">

        <label for="timeFrame">Time Frame</label>
        <input type="text" id="timeFrame" name="timeFrame" formControlName="timeFrame">

        <label for="image">Image URL</label>
        <input type="text" id="image" name="image" formControlName="image">

        <div>
            <button>ADD NEW ARTIFACT</button>

            <button>UPDATE ARTIFACT</button>

            <button>CANCEL UPDATE</button>
        </div>

    </form>

    <h1>All Artifacts</h1>

    <h3 *ngIf="!localArtifacts.length" style="color: red;">No Artifacts in the database!</h3>

    <table *ngIf="localArtifacts.length">

        <thead>
            <tr>
                <th>Artifact Id</th>
                <th>Name</th>
                <th>Time Frame</th>
                <th>Origin</th>
                <th>Aisle/Shelf</th>
                <th>Image Link</th>
                <th>Warehouse Id</th>
         </tr>
        </thead>

        <tbody>
          
            <ng-container *ngFor="let artifact of localArtifacts; let i = index;">
               
                <tr [ngClass]="{
                    'oddRow': i % 2 === 1,
                    'evenRow': i % 2 === 0
                }"
                 (click)="chooseArtifact(artifact)">
                    <td>{{ artifact.id }}</td>
                    <td>{{ artifact.name }}</td>
                    <td>{{ artifact.timeFrame }}</td>
                    <td>{{ artifact.origin }}</td>
                    <td>{{ artifact.shelf }}</td>
                    <td>{{ artifact.image}}</td>
                    <td>{{ artifact.warehouseId }}</td>
                </tr>

            </ng-container>

        </tbody>

    </table>


</main>


