<!-- <main>
    <h1>View Album Details</h1>

    <img [src]="localArtifact.imageUrl" [alt]="localArtifact.title + ' by ' + localArtifact.warehouse.name">

    <h2>{{ localArtifact.name }}</h2>
    <h3>{{ localArtifact.warehosue.name }} (<span>{{ localArtifact.warehosue.origin }}, founded in {{ localArtifact.warehosue.time_frame }}</span>)</h3>

    <ul>
        <li>Time Frame: {{ localArtifact.time_frame }}</li>
        <li>Current Location: {{ localArtifact.current_loaction }}</li>
    </ul>
    
</main> -->
