<main>

    <h1>Welcome to A51!</h1>

    <h2>Our Warehouses</h2>

    <object>
        <h2>Warehouse1</h2>
        <ul>
            <li>Location: Address</li>
            <li>Specialty: Stuff</li>
            <li>Manager: Andy</li>
        </ul>
        <button>view</button>
    </object>

    <object>
        <h2>Warehouse2</h2>
        <ul>
            <li>Location: Address</li>
            <li>Specialty: Stuff</li>
            <li>Manager: Bryan</li>
        </ul>
        <button>view</button>
    </object>

    <object>
        <h2>Warehouse3</h2>
        <ul>
            <li>Location: Address</li>
            <li>Specialty: Stuff</li>
            <li>Manager: Shentill</li>
        </ul>
        <button>view</button>
    </object>

    <object>
        <h2>Warehouse4</h2>
        <ul>
            <li>Location: Address</li>
            <li>Specialty: Stuff</li>
            <li>Manager: Derrick</li>
        </ul>
        <button>view</button>
    </object>

    <!-- <ng-container *ngFor="let album of localAlbums">

        <app-warehouse [warehouse]="warehouse">

        </app-warehouse>

    </ng-container> -->
</main>