<main>

    <h1>Welcome to A51!</h1>

    <h2>Our Warehouses</h2>

    <article>

        <ng-container *ngFor="let warehouse of localWarehouses; let i = index;">
       
            <object>

                <h2>Warehouse {{ warehouse.warehouseId }}</h2>

                <ul>
                    <li>Location: {{ warehouse.location }}</li>
                    <li>Manager: {{ warehouse.manager }}</li>
                    <li>Capacity: {{ warehouse.max }}</li>
                </ul>
            
            </object> 

        </ng-container>

    </article>



</main>