<main>

    <h1>Welcome to A51!</h1>

    <h2>Our Warehouses</h2>

    <article>
        <object>
            <h2>Warehouse1</h2>
            <ul>
                <li>Location: Address</li>
                <li>Specialty: Stuff</li>
                <li>Manager: Andy</li>
            </ul>
            <!-- <button>view</button> -->
        </object> 

        <object>
            <h2>Warehouse2</h2>
            <ul>
                <li>Location: Address</li>
                <li>Specialty: Stuff</li>
                <li>Manager: Bryan</li>
            </ul>
        <!-- <button>view</button> -->
        </object>

        <object>
            <h2>Warehouse3</h2>
            <ul>
                <li>Location: Address</li>
                <li>Specialty: Stuff</li>
                <li>Manager: Shentill</li>
            </ul>
            <!-- <button>view</button> -->
        </object>

        <object>
            <h2>Warehouse4</h2>
            <ul>
                <li>Location: Address</li>
                <li>Specialty: Stuff</li>
                <li>Manager: Derrick</li>
            </ul>
            <!-- <button>view</button> -->
        </object>
    </article>

    <ng-container *ngFor="let artifact of localArtifacts">

        <!-- need to trouble shoot this 
            <app-warehouse [warehouses]="warehouses"> -->

        <!-- </app-warehouse> -->

    </ng-container>
</main>