h1 {
    text-align: center;
    padding: 3em;
}

h2 {
    text-align: center;
    font-weight: lighter;
}
article{
    text-align: center;
}

ul {
    margin-top: 2em;
}

li {
    color: white;
    margin-top: 1em;
    text-align: left;
}

object {
    background-color: #1B353C;
    color: white;
    margin: 1em;
    padding: auto;
    border-radius: 15px;
    display: inline-block;
    width: 300px;
    box-shadow: gray 3px 3px 5px;
    
}

button {
    padding: .5em;
    width: 5em;
    border-radius: 20px;
    margin: 20px 150px 0px 150px;
}